/* h1{
    color: white ;
}

.h1{

    
    text-decoration: none;
    color: black;
    transition: color 0.3s;
} */

/* .h1:hover {
    color: yellow ;
}  */

h1{
    animation: rainbow 3s infinite;
}

@keyframes rainbow {
    0%   { color: red; }
    25%  { color: yellow; }
    50%  { color: green; }
    75%  { color: blue; }
    100% { color: red; }
}




.bignav{
    display: flex;
}

.smallnav{
    width: 400px;
}
body{
    font-size: 18px;
    color: rgb(44, 40, 40);
    font-family: sans-serif;
}


header{
    background-image: url(images/0001.png);
    background-size: cover;
    background-position: center;
}

body{
    background-image: url(images/0001.png);
    background-size:cover;
    background-repeat: auto;
}
.bgr1{
    background-image: url(images/0001.png);
    background-size: cover;
    background-position: center;
}

.bgr2{
    background-image: url(images/image8.png);
    color: yellow;
    text-align: center;
  
}
.brg3{
    background-color: rgb(172, 172, 143);

    
}


img{
    margin-left: 70px;
    width: 170px;
    height: 100px;
}
.foto_redactora{
    float: right; 
    margin-right: auto; 
    width: 800px;
    height: 600px;
   
}

.foto-file{
    margin-right: 0px;
}

.bigb{
    display: flex;
    gap: 10px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    justify-content: center; */
    align-items: center;
    gap: 20px;
     flex-direction: row;

}

.block{
    width: 650px;
    height: 850px;
    
    border: 5px solid rgb(22, 235, 50);
}




.review {

    background: white;

    padding: 20px;

    margin: 20px 0;

    border-radius: 10px;

}



.form-box {

    background: white;

    padding: 25px;

    border-radius: 10px;

}



input,
textarea {

    width: 100%;

    padding: 12px;

    margin: 10px 0;

}



textarea {

    height: 150px;

}



button {

    padding: 12px 25px;

    cursor: pointer;

}

.otzuv{
    color: beige;
}